.gamestate_EndOfRound,
.gamestate_gameEnd,
.gamestate_EndScore,
.gamestate_DebugGameEnd {
	#score {
		display: contents;
	}
	#player-tables .player-table .cstm-player-hand,
	#custom-game-area #river,
	#board .ghost-province,
	.province-arrow {
		display: none;
	}
	#board {
		grid-template-columns: repeat(6, minmax(0, 200px));
		zoom: 0.7;
	}
	#player-tables .player-table .played-cards,
	#player-tables .player-table.own .played-cards {
		zoom: 1;
	}
}
#score {
	display: none;
}

#score-tables {
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
	$border-color: #8fbcb4;
	$shadow-color: #1f3f39;
	$winner-color: gold;
	$text-color: rgb(255, 255, 255);

	padding: 20px 2%;
	//background: url('img/score-background.png');//todo find something
	background-size: 100% 100%;

	.player-score-container {
		border-radius: 10px;
		display: flex;
		gap: 35px;
		justify-content: space-evenly;
	}

	table {
		background-color: lightseagreen;
		//border-collapse: separate;
		border-spacing: 0;
		border-radius: 10px;
		overflow: hidden;
		tbody {
			tr {
				border-top: 1px solid $border-color;
			}
		}

		td,
		th {
			&:not(:first-child) {
				border-left: 1px solid $border-color;
			}
		}

		tr {
			height: 40px;

			th {
				text-align: center;
				color: $text-color;
				text-shadow:
					0px 0px 1px $shadow-color,
					0px 0px 2px $shadow-color,
					0px 0px 3px $shadow-color;
				padding: 8px;

				h3 {
					//ellipsis for long names
					margin: 0;
					display: -webkit-box;
					-webkit-line-clamp: 2; /* Number of lines to show */
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}

			td {
				width: 100px;
				text-align: center;

				&:first-child {
					//font-size: 150%;
					color: $text-color;
					text-shadow:
						0px 0px 1px $shadow-color,
						0px 0px 2px $shadow-color,
						0px 0px 3px $shadow-color;
				}

				&:not(:first-child) {
					color: $text-color;
					text-shadow:
						0px 0px 1px $shadow-color,
						0px 0px 2px $shadow-color,
						0px 0px 3px $shadow-color;
				}

				&:last-child {
					font-weight: bold;
					font-size: 120%;
				}

				&.player-name {
					color: $shadow-color;
					width: 181px;
					font-weight: bold;
					text-shadow:
						0px 0px 1px white,
						0px 0px 2px white,
						0px 0px 3px white;
					word-break: break-all;
					text-overflow: ellipsis;
					font-size: 120%;
				}

				&.total {
					font-weight: bold;
				}
				&.highlight {
					color: $winner-color;
				}
			}
		}
	}

	.score-provinces-table {
		/*td, th {
			&:last-child {
				border-right: 1px solid $border-color;
			}
		}*/
	}
	.score-types-table {
		/*td, th {
			&:first-child {
				border-left: 1px solid $border-color;
			}
		}*/
	}

	.score-number {
		transition: color 0.5s ease-in-out;

		&.animatedScore {
			color: rgb(195, 193, 193) !important;
			/*animation:  grow-then-shrink-animation 3s ;*/
		}
	}
}

@keyframes bonus-card-animation {
	0% {
		transform: scale(0.15);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.15);
	}
}
