#player-tables {
	display: flex;
    flex-wrap: wrap;
	gap: 20px;
    justify-content: center;
    //align-items: center;
	.player-table {
		display: flex;
		flex-direction: column;
		align-items: center;

		.cstm-player-hand {
			zoom: 0.5;
		}
		&.own {
			.cstm-player-hand {
				zoom: 1;
				flex-wrap: nowrap;
			}

			.played-cards {
                zoom: 0.83;
				.slot {
					/*&::before {
						content: attr(data-slot-number);
						font-size: 66pt;
						color: #9e9fa3;
					}*/
				}
			}
		}

		.played-cards {
            max-width: 860px;
			zoom: 0.45;
            margin-top: 20px;
		}
	}

	.player-name {
		color: #1f273b;
		font-weight: bold;
	}
}
