#player-tables {
	display: flex;
	gap: 20px;
	.player-table {
		//display: flex;

		.cstm-player-hand {
            zoom: 0.5;
		}
        &.own {
            .cstm-player-hand {
                zoom: 1;
                flex-wrap:nowrap;
            }
        }
	}

	.player-name {
		color: #1f273b;
		font-weight: bold;
	}
}
