#player-tables {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	//align-items: center;
	.player-table {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 15px;

		.cstm-player-hand {
			zoom: 0.5;
		}
		&.own {
			.cstm-player-hand {
				zoom: 1;
				flex-wrap: nowrap;
			}

			.played-cards {
				zoom: 0.83;
				.slot {
					/*&::before {
						content: attr(data-slot-number);
						font-size: 66pt;
						color: #9e9fa3;
					}*/
				}
			}
		}

		.played-cards {
			max-width: 860px;
			zoom: 0.45;
			margin-top: 20px;
		}
	}

	.player-name {
		font-weight: bold;
		text-shadow:
			0 1px 2px rgba(0, 0, 0, 0.9),
			0 0 4px rgba(255, 255, 255, 0.35);
		margin-bottom: 8px;
		background: rgb(10 56 48 / 80%);
		border: 1px solid rgba(255, 255, 255, 0.35);
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
		padding: 5px 10px;
		border-radius: 5px;
	}
}
