#board {
	display: grid;
	gap: 5px;
	grid-template-columns: min(40px, 5%) repeat(6, minmax(0, 250px)) min(40px, 5%);
	width: 100%;
	align-items: center;
	justify-content: center;

	.province {
		width: 100%;
		aspect-ratio: 206/386;
		background-image: url('img/provinces.png');
		background-size: 600% 100%;
		filter: drop-shadow(3px 2px 4px black);

		&[data-province='1'] {
			background-position: #{calc(0 * 100% / 5)} 50%;
		}
		&[data-province='2'] {
			background-position: #{calc(1 * 100% / 5)} 50%;
		}
		&[data-province='3'] {
			background-position: #{calc(2 * 100% / 5)} 50%;
		}
		&[data-province='4'] {
			background-position: #{calc(3 * 100% / 5)} 50%;
		}
		&[data-province='5'] {
			background-position: #{calc(4 * 100% / 5)} 50%;
		}
		&[data-province='6'] {
			background-position: #{calc(5 * 100% / 5)} 50%;
		}

		.province-token-slot {
			width: 20%;
			aspect-ratio: 1;
			position: absolute;
			bottom: -1%;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 50%;
			border: 1px solid #535252;
		}

		.province-slots {
			.token {
				background-image: url('img/tokens.png');
				background-size: 1000% 100%;
				background-position: #{calc(0 * 100% / 10)} 50%;
				width: 100%;
				aspect-ratio: 1;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);

				.token-4 {
				}
			}
		}

		.province-slot {
			width: 15.6%;
			aspect-ratio: 1;
			position: absolute;
			//border: 1px solid #535252;
			border-radius: 50%;

			&.left-column {
				left: 9.5%;
			}
			&.right-column {
				right: 7.4%;
			}

			&.slot-1,
			&.slot-15 {
				top: 81.7%;
			}
			&.slot-2,
			&.slot-14 {
				top: 70%;
			}
			&.slot-3,
			&.slot-13 {
				top: 59%;
			}
			&.slot-4,
			&.slot-12 {
				top: 47.4%;
			}
			&.slot-5,
			&.slot-11 {
				top: 36%;
			}
			&.slot-6,
			&.slot-10 {
				top: 25%;
			}
			&.slot-7,
			&.slot-9 {
				top: 13.3%;
			}
			&.slot-7 {
				left: 21.8%;
			}
			&.slot-9 {
				right: 18.5%;
			}
			&.slot-8 {
				left: 43.6%;
				top: 7%;
			}
		}
	}

	.ghost-province {
		overflow: hidden;
		.province {
			filter: none;
			display: flex;
			align-items: center;
			color: #535252;
		}
	}
	.province-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: #535252;
		left: 0px;
	}
	.province-arrow-right {
		right: 0px;
		left: unset;
	}
}
