$main-color: #965e17;
$selected-color:rgb(200, 255, 47);

//(classic BGA colors) :
$player-colors: (
	'rose': 'df89ba',
	'blue': '75d0ea',
	'yellow': 'f9dd3b',
	'red': 'd0535a'
);

@mixin selected-element {
	box-shadow: 0 0 5px 5px $selected-color;
}

@mixin card-border {
	border-radius: 3%;
}
